<!-- Toolbar -->
<div class="toolbar w-full" role="banner">

  <div class="flex w-full px-20">
    <div class="mr-auto w-auto">

      <img width="62" alt="news Logo" src="../assets/img/logo.png" />
    </div>
    <div class="ml-auto w-auto">
      <a href="#" class="user-outer">
        <img src="../assets/img/user.png" alt="User">
      </a>
    </div>
  </div>

</div>

<div class="content" role="main">
  <div class="card-container">
    <app-dashboard></app-dashboard>
  </div>
</div>


<router-outlet></router-outlet>